


/* if the viewport is equal to 400px or less than that */
@media only screen and (max-width:400px){
    .header_area.main-menu.navbar{
        padding: 2%;
        margin:0%;
        
    }

    .site-main.site-banner.site-title h1{
        font-size: 41px;
    }

    .site-main> .goals-area.goals{
        width: 13rem;
    }
}